.playerDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.952);
}

.playerIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teamDetails{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
}