

.playerIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teamDetails{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 15rem;
        object-fit: contain;
        
    }
    h2{
        text-align: center;
    }
}