.aboutDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87vh;
    padding: 1rem 10rem ;
    >div {
        display: flex;
    }

    ul {
        margin: 2rem;

        h2 {
            font-size: 2rem;
        }

        li {
            font-size: 1.5rem;
        }
    }

    img {
        width: 30rem;
        height: 30rem;
        object-fit: cover;
    }


    .buttons {
        display: flex;
        justify-content: center;
    }
}