.aboutDetails {
h1{
    margin: 0;
}

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    padding: 1rem 10rem;
    // justify-content: center;
    font-size: 1.5rem;
    .AboutPage {
        justify-content: space-between;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 2rem;
        margin: 1rem;
        // min-width: 60vw;
        // max-width: 80vw;
        box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.3);
    }

    .content{
        padding: 2rem;
        // width: 50%;
    }
    h2 {
        font-size: 2rem;
        margin-bottom:2rem;
        
    }

    ul {
        margin: 0 2rem;
        list-style: disc;

        li {
            margin-bottom: 1.3rem;

        }
    }

    img {
        aspect-ratio: 4/5;
        height: 100%;
        // width: 50%;
        object-fit: cover;
    }

    .buttons {
        display: flex;
        justify-content: center;
        button{
            margin: 0.5rem;
        }
    }
}