.resultDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 10rem;
        object-fit: contain;
    }
}

.gameInfos{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    border: 1px solid;
    margin-bottom: 2rem;
    padding: 2rem;
    p{
        display: flex;
        // justify-content: center;
    }
    img{
        margin: auto;
        object-fit: contain;
    }
}

.gameResult{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &>div{
        // border: 1px solid red;
        width: 15rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    h2{
        text-align: center;
    }
}