.navBar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    align-items: center;
    border-bottom: 1px solid;
    padding: 1rem 2rem 1rem 1rem;

    a {
        display: flex;
        align-items: center;
        height: 100%;
margin-left: 1rem;
        img{
        height: 100%;
        object-fit: contain;
    }
    }
    
    ul {
        height: 100%;
        display: flex;
        list-style: none;
    }

}

.navLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}