.TeamsIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
    flex-grow: 1;
}
.TeamCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid;
    margin: 1rem;
    cursor: pointer;

    img{
        height: 50%;
        max-width: 80%;
        object-fit: contain;
    }
}
