.App{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    min-height: 90vh;
    // width: 100vw;
    &>div{

        padding: 2rem 1rem;
    }
    &>div:first-child{
        flex-grow: 1;
    }
}