#root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
h1{
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}