#root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
  
}
h1{
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #3d3d3d;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3 {
  font-size: 1.2rem;
}

button{
  height: 3rem;
  border-radius: 0px;
  border: 0px;
  background-color:  rgb(61, 61, 61);
  color: #ffd885;
  &:hover{
    cursor: pointer;
  }
  
}

select{
  border-radius: 0;
  height: 3rem;
  // padding: 0 1rem;
  min-width: 10rem;
  
}

input{
  min-width: 10rem;
  border-radius: 0;
  height: 3rem;
}